@font-face {
    font-family: Pusab;
    src: url(pusab.otf);
}

html {
    font-family: Pusab;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    font-size: 30px;
    user-select: none
}

p {
    margin: 0;
}

body {
    text-align: center;
    background: #1F1F1F url("img/bg.png") fixed;
    margin-top: 50px;
}

.card {
    background: #25232A;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

canvas {
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

#imgs {
    display: none;
}

.editor-div {
    display: none;
}

#editor-main {
    width: 930px;
    margin: auto;
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-div {
    width: 480px;
    margin: 5px 5px;
}

.editor-side {
    height: 330px;
    flex-direction: column;
    width: 200px;
    font-size: 20px;
    text-align: left;
}

.editor-side > * {
    margin-bottom: 5px;
}

input {
    height: 20px;
    width: 180px;
}

.last-card {
    margin: 20px auto;
    width: 480px;
}

.editor-tab-btn {
    background-image: url("img/editorselectbtn.png");
    padding: 0;
    border-width: 0;
    border-radius: 15px;
    width: 183px;
    height: 60px;
    font-family: Pusab;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    font-size: 42px;
    margin-bottom: 4px;
}

#build-btn {
    background-image: url("img/editorselectbtnon.png");
}

.editor-cats {
    flex-direction: column;
    width: 183px;
}

.editor-tab {
    width: 747px;
    display: flex;
    padding-left: 10px;
}

button:hover {
    cursor: pointer;
}

.build-object {
    width: 50px;
    height: 50px;
    padding: 0;
    border-width: 0;
    border-radius: 7px;
    margin-right: 7px;
    background-image: url("img/buttongray.png");
}

#edit-box, #delete-box {
    display: none;
}

#editor-leave:hover {
    cursor: pointer;
}

#block-btn {
    background-image: url("img/buttoncyan.png")
}

#delete-box {
    justify-content: center;
    align-items: center;
}

#delete-obj-btn {
    background-image: url("img/deleteobjbtn.png");
    background-color: transparent;
    border-width: 0;
    width: 50px;
    height: 53px;
}

#editor-leave {
    background-image: url("img/greenarrow.png");
    background-color: transparent;
    border-width: 0;
    width: 50px;
    height: 62px;
    padding: 0;
}

#difficulty {
    width: 30px;
}

#cam-x {
    width: 100px;
}

#cam-y {
    width: 100px;
}

#obj-x {
    width: 100px;
}

#obj-y {
    width: 100px;
}

#obj-angle {
    width: 50px;
}

#level-difficon {
    background-size: 30px;
    width: 30px;
    height: 30px;
}

#level-info-difficon {
    background-size: 30px;
    width: 30px;
    height: 30px;
}

.info-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-holder > * {
    margin-right: 10px;
}

#level-info {
    width: 480px;
    margin: auto;
    margin-top: 10px;
    display: none;
    justify-content: center;
}